/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 150px;
  background-color: #777;
}
.header-img > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 150px;
}
.headerimg {
    max-width: 100%;
    height: 150px;
}
    


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.featurette-heading-grid     {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* Status--------------------------------------- */

.heading {
    color: inherit;
    background-color: #fff;
}
.heading h1 {
    font-size: 63px;
}
.heading p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

.surfices {
    margin:0 auto;
    text-align: center;
    width: 90%;
    
}

#status .surfice-hover {
    opacity: 0;
    text-align: center;
}

#status .surfice-active {
    display: block;
    text-align: center;
}
#status .surfice {
    height: 200px;
    width: 200px;
    padding-top: 75px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    text-overflow: ellipsis;
}
#status .surfice-success {
    background-color:#2ecc71;
}
#status .surfice-danger {
    background-color:#e74c3c;
}
#status .surfice-warning {
    background-color: #f1c40f;
}

#status .surfice h2 {
    padding: 10px;
    width: 180px;
    font-size: 36px;

}

#status .surfice > * {
    -webkit-transition: opacity 200ms linear; /* For Safari 3.1 to 6.0 */
    transition: opacity 200ms linear;
}

#status .surfice:hover > :first-child {
    opacity: 0.5;
    text-shadow: 0px 0px 5px black;
    color: transparent;
}

#status .surfice:hover > :last-child  {
    display: block;
    opacity: 1;
}

#status .surfice a {
    font-size: 18px;
}

#status {
    width: 100%
}


.position-relative {
    position: relative;
}

.center-all {
    left: 50%;
/*    top: 50%;*/
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    position: absolute;
}

.center-all {
    left: 50%;
/*    top: 50%;*/
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    position: absolute;
}
.center-all-button {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    position: absolute;
}   
/* EVENTS
------------------------------- */
.events h2 {
    margin-bottom: 20px;
}

.events .row:after {
    border-bottom: solid 1px #eee;
    width: 50%;
    margin: 0px auto 6px auto;
    padding-top: 6px;
    
}

.events .row:last-child:after {
    border-bottom: none;
}

/* CHARTS
------------------------------- */

.chart {
    opacity: 0;
    width: 100% !important;
}

.chart-nav {
    margin-left: 30px;
}

/* ADMIN
------------------------------- */
.btn-straight {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-left: none;
}

.bg {
/*
    background-image: url(../images/quiksilver.jpg);
    background-position: left center;
*/

}

.jumbotron.jumbotron-admin {
    background-image: url(../images/wave1.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
}
.surfices-list  {
    height: 250px;
    overflow: scroll;
}

.divider-accordian {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}
.button-accordian {
    margin-top: 5px;
}

.jumbotron-admin {
    color: white;
    text-shadow: 0.1em 0.1em #333;
    
}
.h3-admin {
    padding-left: 2%;
}

.hide-slide {
	display: none;
}

.hide-slide.first-in {
	display: block;
	position: relative;
}

tr[data-href] {
	cursor: pointer;
}


/* ANIMATIONS
------------------- */
/* Prevent animations from happening on load */
.preload * {
  -webkit-transition: all 0s linear !important;
  -moz-transition: all 0s linear !important;
  -ms-transition: all 0s linear !important;
  -o-transition: all 0s linear !important;
  
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
}

.flash {

  -moz-animation: flash 1.5s ease infinite;

  -webkit-animation: flash 1.5s ease infinite;

  -ms-animation: flash 1.2s ease infinite

}

@-webkit-keyframes flash {
    0% { opacity: 1; }
    10% { opacity: 1; }
    50% { opacity: .5;}
    90% { opacity: 1; }
    100% { opacity: 1; }
}

@-moz-keyframes flash {
    0% { opacity: 1; }
    10% { opacity: 1; }
    50% { opacity: .5;}
    90% { opacity: 1; }
    100% { opacity: 1; }
}

@-ms-keyframes flash {
    0% { opacity: 1; }
    10% { opacity: 1; }
    50% { opacity: .5;}
    90% { opacity: 1; }
    100% { opacity: 1; }
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
	-webkit-transition: background-color 1s ease;
/* 	background-color: rgb(255, 255, 255); */
}

@-webkit-keyframes table-rows-even {
	/* 
0% { background-color: #f9f9f9; }
	100% { background-color: rgb(255, 255, 255); }
 */
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
	-webkit-transition: background-color 1s ease;
/* 	background-color: #f9f9f9; */
}

@-webkit-keyframes table-rows-odd {
	/* 
0% { background-color: rgb(255, 255, 255); }
	100% { background-color: #f9f9f9; }
 */
}


/* LOGIN
-------------------------------------------------- */
.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 500px) {
        
    
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
    

  .featurette-heading {
    font-size: 50px;
  }
      .featurette-heading-grid {
    font-size: 50px;
  }

  .chart {
        width: 500px !important;
   }

}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 40px;
  }
  .featurette-heading.text-center {
    margin-top: 0px;
  }
    .featurette-heading-grid {
    margin-top: 0px;
  }
    /* Center the object when small */
  .center-all {
    top: 50%;
  }
    



    
}


/* BOOTSTRAP EXTENSIONS
---------------------------------------------- */
/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  border-left-color: #ffffff;
}

