<!-- NAVBAR
================================================== -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Asbury University Status</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="{% url 'admin' %}">Admin Home</a></li>
				<li><a href="{% url 'surfs' %}">Surfs</a></li>
				<li><a href="{% url 'surfices' %}">Surfices</a></li>
				<li><a href="{% url 'statuses' %}">Statuses</a></li>
				<li><a href="{% url 'events' %}">Events</a></li>
				<li><a href="{% url 'dings' %}">Dings</a></li>
				<!--<li><a href="/admin/settings">Settings</a></li>-->
			</ul>
			{% if user.is_authenticated %}
			<p class="navbar-text navbar-right"><a href="/logout/" class="navbar-link">Log out {{ user.first_name }} {{ user.last_name }}</a></p>
	
			{% endif %}
		</div>
	</div>
	
	
	
</nav>
<!-- ./navbar -->