<div id="wrap">
<div id="wrap-inner">
<div id="page" class="clearfix">
<div id="page-inner">
<div id="header">
<div id="header-inner" class="clear-block">

<div class="region region-header" id="header-blocks">

	<div class="block block-nice_menus region-even odd region-count-2 count-13 block-inner content" id="block-nice_menus-1">
		<ul class="nice-menu nice-menu-down sf-js-enabled" id="nice-menu-1">
			<li class="menu-39792 menu-path-front active-trail first odd">
				<a class="active" href="http://www.asbury.edu/" title="">Home</a>
			</li>

			<li class="menu-1953 menuparent menu-path-node-764 even">
				<a href="http://www.asbury.edu/about-us" title="">About Us</a>

				<ul style="display: none; visibility: hidden;">
					<li class="menu-4315 menu-path-node-876 first odd">
						<a href="http://www.asbury.edu/about-us/university-profile" title="">University Profile</a>
					</li>

					<li class="menu-4311 menu-path-node-855 even">
						<a href="http://www.asbury.edu/about-us/map-directions" title="">Map &amp; Directions</a>
					</li>

					<li class="menu-4314 menu-path-node-1438 odd">
						<a href="http://www.asbury.edu/about-us/cornerstone-project" title="">The Cornerstone Project</a>
					</li>

					<li class="menu-4312 menu-path-node-872 even">
						<a href="http://www.asbury.edu/about-us/quick-facts" title="">Quick Facts</a>
					</li>

					<li class="menu-5370 menu-path-node-1631 odd">
						<a href="http://www.asbury.edu/offices" title="">Offices &amp; Departments</a>
					</li>

					<li class="menu-4313 menu-path-node-1397 even last">
						<a href="http://www.asbury.edu/about-us/safety-and-security" title="">Safety &amp; Security</a>
					</li>
				</ul>
			</li>

			<li class="menu-5097 menuparent menu-path-node-2582 odd">
				<a href="http://www.asbury.edu/academics" title="">Academics</a>

				<ul style="display: none; visibility: hidden;">
					<li class="menu-35917 menu-path-node-1269 first odd">
						<a href="http://www.asbury.edu/offices/registrar/bulletin" title="">Academic Catalog</a>
					</li>

					<li class="menu-35914 menu-path-node-1689 even">
						<a href="http://www.asbury.edu/offices/library" title="">Library</a>
					</li>

					<li class="menu-35915 menu-path-node-17105 odd">
						<a href="http://www.asbury.edu/academics/majors-minors-emphases" title="">Majors, Minors and Emphases</a>
					</li>

					<li class="menu-35916 menu-path-node-1260 even">
						<a href="http://www.asbury.edu/offices/registrar" title="">Registrar</a>
					</li>

					<li class="menu-35913 menu-path-node-2582 odd">
						<a href="http://www.asbury.edu/academics" title="">Schools of Asbury</a>
					</li>

					<li class="menu-39893 menu-path-node-13805 even last">
						<a href="http://www.asbury.edu/academics/cae" title="">Tutoring and Writing Center</a>
					</li>
				</ul>
			</li>

			<li class="menu-39806 menuparent menu-path-node-19077 even">
				<a href="http://www.asbury.edu/spiritual-vitality" title="Spiritual Vitality">Spiritual Vitality</a>

				<ul style="display: none; visibility: hidden;">
					<li class="menu-39811 menu-path-node-1438 first odd">
						<a href="http://www.asbury.edu/about-us/cornerstone-project" title="">The Cornerstone Project</a>
					</li>

					<li class="menu-39812 menu-path-node-15420 even">
						<a href="http://www.asbury.edu/about-us/cornerstone-project/chapel" title="">Chapel</a>
					</li>

					<li class="menu-39813 menu-path-node-16773 odd last">
						<a href="http://www.asbury.edu/about-us/cornerstone-project/daily-devotionals" title="">Daily Devotionals</a>
					</li>
				</ul>
			</li>

			<li class="menu-6970 menuparent menu-path-node-13283 odd">
				<a href="http://www.asbury.edu/admissions" title="">Admissions</a>

				<ul style="display: none; visibility: hidden;">
					<li class="menu-4953 menu-path-applicationasburyedu first odd">
						<a href="http://application.asbury.edu" title="">Apply Now</a>
					</li>

					<li class="menu-4322 menu-path-node-1425 even">
						<a href="http://www.asbury.edu/admissions/asbury-academy" title="">Asbury Academy</a>
					</li>

					<li class="menu-4320 menu-path-node-452 odd">
						<a href="http://www.asbury.edu/admissions/undergraduate" title="">Undergraduate</a>
					</li>

					<li class="menu-5154 menu-path-node-1891 even">
						<a href="http://www.asbury.edu/offices/financial-aid" title="">Financial Aid</a>
					</li>

					<li class="menu-7800 menu-path-tccnoellevitzcom-Asbury%20University-Freshman%20Students odd">
						<a href="http://tcc.noellevitz.com/Asbury%20University/Freshman%20Students" title="">Net Price Calculator</a>
					</li>

					<li class="menu-4952 menu-path-node-17744 even">
						<a href="http://www.asbury.edu/gps" title="">Graduate</a>
					</li>

					<li class="menu-4954 menu-path-node-18017 odd">
						<a href="http://www.asbury.edu/gps/academics/degree-programs/aps-degree-completion" title="">Adult Professional Studies</a>
					</li>

					<li class="menu-6974 menu-path-node-18027 even">
						<a href="http://www.asbury.edu/gps/academics/online-learning" title="">Online</a>
					</li>

					<li class="menu-51647 menu-path-node-899 odd last">
						<a href="http://www.asbury.edu/admissions/undergraduate/how-apply/international" title="">International</a>
					</li>
				</ul>
			</li>

			<li class="menu-2509 menu-path-asburyeaglescom even">
				<a href="http://www.asburyeagles.com" title="">Athletics</a>
			</li>

			<li class="menu-4153 menuparent menu-path-node-1471 odd">
				<a href="http://www.asbury.edu/news-events" title="">News &amp; Events</a>

				<ul style="display: none; visibility: hidden;">
					<li class="menu-4506 menu-path-node-18602 first odd">
						<a href="http://www.asbury.edu/news-events/publications" title="">Publications</a>
					</li>

					<li class="menu-6724 menu-path-node-11636 even last">
						<a href="http://www.asbury.edu/calendar" title="">Calendar of Events</a>
					</li>
				</ul>
			</li>

			<li class="menu-1941 menuparent menu-path-node-769 even last">
				<a href="http://www.asbury.edu/student-life" title="">Student Life</a>

				<ul style="display: none; visibility: hidden;">
					<li class="menu-4513 menu-path-node-921 first odd">
						<a href="http://www.asbury.edu/student-life/adventure-programs" title="">Adventure Programs</a>
					</li>

					<li class="menu-4508 menu-path-node-909 even">
						<a href="http://www.asbury.edu/student-life/campus-ministries" title="">Campus Ministries</a>
					</li>

					<li class="menu-4509 menu-path-node-1190 odd">
						<a href="http://www.asbury.edu/student-life/career-services" title="">Career Center</a>
					</li>

					<li class="menu-4511 menu-path-node-1044 even">
						<a href="http://www.asbury.edu/student-life/center-counseling" title="">Center for Counseling</a>
					</li>

					<li class="menu-7756 menu-path-node-13653 odd">
						<a href="http://www.asbury.edu/student-life/food-service" title="">Food Service</a>
					</li>

					<li class="menu-4510 menu-path-node-1071 even">
						<a href="http://www.asbury.edu/student-life/health-services" title="">Health Clinic</a>
					</li>

					<li class="menu-4514 menu-path-node-1427 odd">
						<a href="http://www.asbury.edu/student-life/housing" title="">Housing</a>
					</li>

					<li class="menu-40163 menu-path-asburyedu-student-life-intercultural-programs even">
						<a href="http://www.asbury.edu/student-life/intercultural-programs" title="">Intercultural Programs</a>
					</li>

					<li class="menu-41219 menu-path-node-1952 odd">
						<a href="http://www.asbury.edu/student-life/intramurals" title="">Intramurals</a>
					</li>

					<li class="menu-4512 menu-path-node-1328 even last">
						<a href="http://www.asbury.edu/student-life/leadership" title="">Leadership &amp; Service</a>
					</li>
				</ul>
			</li>
		</ul>
	</div><!-- /block-inner, /block -->
</div>

</div>
</div>
</div>
</div>
</div>
</div>