<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>{% block title %}REPLACE TITLE WITH CODE{% endblock %}</title>
      
    {% load static %}
      
      
    <!-- Bootstrap core CSS -->
    <link href="{% static 'surfice/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'surfice/css/carousel.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
<!-- NAVBAR
================================================== -->
  <body class="{% block body_class %}{% endblock %}">
  <a name="top"></a>
	{% block nav %}
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Asbury University Status</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ./navbar -->
    {% endblock %}

   
<div class="container">
    {% block heading %}
    <div class="heading"><center>
        <h1>You might want to put a header here.</h1>
       <center> <p>This used to be the essential grey box that housed all of the secrets to the Asbury network statuses. <br/>
        Now it is a lie. <br/>
        Like the cake.
        </p></center>
    </center></div>
    {% endblock %}
	
	{% block content %}
	<div class="row featurette">
        <div class="col-xs-12 events">
            <h2 class="featurette-heading text-center">Seems like you need some content!</h2>
            <p>Oops</p>
        </div>
	{% endblock %}
    
	{% block footer %}
	<!-- FOOTER -->
	<footer>
		<p class="pull-right"><a href="#top">Back to top</a></p>
		<p>&copy; 2014 Asbury University &middot; <a href="#">Privacy</a> &middot; <a href="admin">Admin</a></p>
	</footer>
	{% endblock %}

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'surfice/js/jquery-1.11.1.min.js' %}"></script>
	
    <script src="{% static 'surfice/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'surfice/js/jquery.inview.min.js' %}"></script>
    
    <script src="{% static 'surfice/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'surfice/js/Chart.min.js' %}"></script>
    
    <script src="{% static 'surfice/js/effects.js' %}"></script>
    
    {% block scripts %}{% endblock %}
  </body>
</html>
