{% extends "surfice/base.html" %}

{% block title %}Admin | Ding from {{ ding.email }}{% endblock %}

{% load static %}
{% load humanize %}
{% load slugify %}
{% load nav %}

{% block css %}
<link href="{% static 'surfice/css/bootstrap-tagsinput.css' %}" rel="stylesheet">

{% endblock %}

{% block body_class %}admin{% endblock %}


{% block nav %}
	{% nav "dings" %}
	{% include "surfice/admin_nav.html" %}
{% endblock %}


{% block heading %}
<div class="container">
	<div class="jumbotron jumbotron-admin">
		<h1>What's up {{ ding.surfice.name }}?</h1>

		<div class="container">
			<p>{{ ding.surfice.description }}</p>
		</div>
	</div>
</div>
{% endblock heading %}

{% block content %}
<div class="container">
	
	<div class="page-header">
		<h2><a href="mailto:{{ ding.email }}">{% if fullname != '' %}{{ fullname }}{% else %}{{ ding.email }}{% endif %}</a> sent in this Ding</h2>
	</div>
	
	<!-- left info -->
	<div class="col-sm-4">
		<div class="row">
			<div class="col-xs-12">
				<h4>Surfice</h4>
				<p>{{ ding.surfice.name }}</p>
			</div>
		</div>
		
		<div class="row dynamic-color" style="background-color:{{ ding.surfice.status.data.color }}">
			<div class="col-xs-12">
				<h4>Current Surfice Status</h4>
				<p data-ajax-update="surfice-status">{{ ding.surfice.status.name }}</p>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<h4>Reports Today</h4>
				<p>{{ surfice_dings }}</p>
			</div>
		</div>
		
		<hr>
		
		<!-- update surfice status -->
		<div class="row">
			<div class="col-xs-12">
				<h4>Quick Update Status</h4>
				<form type="ajax" action="ajax/set-status" method="post" role="form"
					data-ajax-action="ajax/get-surfice"
					data-ajax-get='{ "surfice": {{ ding.surfice.id }} }'
					data-ajax-update-target="surfice-status"
				>
					{# To prevent cross-site forgery, include the following required tag #}
					{% csrf_token %}
					<input type="hidden" name="surfice" value="{{ ding.surfice.id }}">
					<div class="form-group">
						<label class="control-label">Select Status</label>
						<select name="status" class="form-control">
							{% for status in statuses %}
							<option value="{{ status.id }}" {% if status == ding.surfice.status %}selected="selected"{% endif %}>{{ status.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">Status Description</label>
						<textarea name="description" class="form-control" rows="3" placeholder="(Optional) Add your status description..."
							data-ajax-clear></textarea>
					</div>
					<div class="row">
						<div class="col-xs-offset-10 col-xs-2">
							<button type="submit" class="btn btn-success button-accordian pull-right">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /end update surfice status -->
		
	</div>
	<!-- /end left info -->
	
	<!-- ding info -->
	<div class="col-sm-8">
		<!-- reported status -->
		<div class="dynamic-color well well-sm" style="background-color:{{ ding.status.data.color }}">Reported status: {{ ding.status.name }}</div>
		<!-- /end reported status -->
		
		<!-- description of ding -->
		{# Make sure description isn't empty #}
		{% if ding.description and ding.description.strip %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Description of Ding from {% if fullname != '' %} {{ fullname }} {% else %} {{ ding.email }} {% endif %}</h3>
				<h6 class="text-muted"><em>Submitted on {{ ding.timestamp|date:"M j, Y" }} at {{ ding.timestamp|time:"f A" }}</em></h6>
			</div>
			<div class="panel-body">
				<p>{{ ding.description|linebreaks }}</p>
			</div>
		</div>
		
		{% else %}
		<h3><a href="mailto:{{ ding.email }}">{{ ding.email }}</a> did not provide a description</h3>
		{% endif %}
		<!-- /end description of ding -->
		
		<!-- user metadata -->
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">User Metadata</h3>
			</div>
			<div class="panel-body">
				<h4>Network</h4>
				<p>	{% if ding.data.hostname != '' %}
					Hostname: {{ ding.data.hostname }}<br>
					{% else %}
					<em>No hostname</em><br>
					{% endif %}
					
					IP Address: {{ ding.data.ip }}
				
				<h4>Browser</h4>
				<p>	Family: {{ ding.data.browser.family }}<br>
					Version: {{ ding.data.browser.version_string }}<br>
					
				</p>
				
				<h4>Device</h4>
				<p>	Family: {{ ding.data.device.family }}<br>
					OS: {{ ding.data.os.family }} {{ ding.data.os.version_string }}<br>
				<p>
			</div>
		</div>
		<!-- /end user metadata -->
		
		<!-- action buttons -->
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default" role="button" href="#"
				data-toggle="modal"
				data-target="#rt-{{ ding.id }}"
			><span class="glyphicon glyphicon-plus"></span> Add to RT</a>
			<a class="btn-danger btn" role="button" href="#"
				data-toggle="modal"
				data-target="#confirm-delete-ding-{{ ding.id }}"
			><span class="glyphicon glyphicon-remove"></span> Delete</a>
		</div>
		<!-- /end action buttons -->
	</div>
	<!-- /end ding info -->
	
</div>
<hr class="featurette-divider">

<!-- reply modal -->
<div class="modal fade" id="rt-{{ ding.id }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add to RT</h4>
			</div>
			<div class="modal-body">
				<form type="ajax" action="ajax/submit-rt-ticket" method="post">
					{# To prding cross-site forgery, include the following required tag #}
					{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="queue" class="control-label">Queue Email</label>
								<input name="queue" value="network.tickets@asbury.edu" type="email" class="form-control" placeholder="Queue Email" id="queue" data-validate="email">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<label for="name" class="control-label">Name</label>
								<input name="name" value="{% if fullname != '' %}{{ fullname }}{% endif %}" class="form-control focus" placeholder="Name (optional)" id="name">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="phone" class="control-label">Phone</label>
								<input name="phone" class="form-control" placeholder="Phone (optional)" id="phone">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<label for="location" class="control-label">Location</label>
								<input name="location" class="form-control" placeholder="Location (optional)" id="location">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label for="description">
									Brief Description</label>
								<input id="description" name="description" class="form-control" placeholder="Brief Description (optional)" value="{{ ding.surfice.name }} is {{ ding.status.name }}">
							</div>
							
							<div class="form-group">
								<label for="body">
									Body</label>
								<textarea name="body" id="body" class="form-control" rows="9" cols="25" required="required" placeholder="Message">On {{ ding.timestamp|date:"M j, Y" }} at {{ ding.timestamp|time:"f A" }}, {% if fullname != '' %}{{ lastname }}, {{ firstname }} <{{ ding.email }}>{% else %}{{ ding.email }}{% endif %} wrote:&#10;{{ ding.description }}</textarea>
							</div>
						</div>
						
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary pull-right">
					Add to RT</button>
			</div>
		</div>
	</div>
</div>
<!-- /end reply modal -->

<!-- delete ding modal -->
<div class="modal fade" id="confirm-delete-ding-{{ ding.id }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirm Delete</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this ding?
			</div>
			<div class="modal-footer">
				<form action="" method="post">
					{# To prding cross-site forgery, include the following required tag #}
					{% csrf_token %}
					<input type="hidden" name="ding" value="{{ ding.id }}">
					<input type="hidden" name="delete" value="1">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" href="#" class="btn btn-danger danger">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /end delete ding modal -->

{% endblock content %}

{% block scripts %}
<script src="{% static 'surfice/js/bootstrap-tagsinput-custom.js' %}"></script>

<script>
$(function() {
	$("select.tagsinput").tagsinput({
		trimValue: true
		
	});
	$("select.tagsinput").on("beforeItemAdd", function(e) {
		// e.item contains the item
		// If Email is not valid, cancel the event
		if ( !isValidEmail(e.item) ) e.cancel = true;
	});
	$("select.tagsinput").on("itemAdded", function(e) {
		// e.item contains the item
		//return false;
	});
});
</script>

{% endblock %}