{% extends "surfice/base.html" %}

{% block title %}Admin | Events{% endblock %}

{% load static %}
{% load humanize %}
{% load slugify %}
{% load nav %}

{% block css %}
<!-- x-editable (bootstrap version) -->
<link href="{% static 'surfice/css/bootstrap-editable.css' %}" rel="stylesheet">
<link href="{% static 'surfice/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css"></link> 
{% endblock %}

{% block body_class %}admin{% endblock %}


{% block nav %}
	{% nav "events" %}
	{% include "surfice/admin_nav.html" %}
{% endblock %}


{% block heading %}
<div class="container">
	<div class="jumbotron jumbotron-admin">
		<h1>Update your Statuses</h1>

		<div class="container">
			<p>Status (n): the position of affairs at a particular time</p>
		</div>
	</div>
</div>
{% endblock heading %}

{% block content %}

<div class="container">
	
	<div class="page-header">
		<h2>Click on an Event's details to edit</h2>
		<a type="button" class="btn btn-success"
			data-toggle="modal"
			data-target="#add-event"
		>Create an event&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></a>
	</div>
	
	<!-- start add event modal dialog -->
	<div class="modal fade" id="add-event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Add an Event</h4>
				</div>
				<form action="" method="post">
					{# To prevent cross-site forgery, include the following required tag #}
					{% csrf_token %}
					<input type="hidden" name="surf" value="{{ surf.id }}">
					<input type="hidden" name="delete" value="1">
					
					<div class="modal-body">
						<!-- add event form -->
						<form type="ajax" action="" method="post">
							{# To prevent cross-site forgery, include the following required tag #}
							{% csrf_token %}
							<div class="row">
								<!-- description -->
								<div class="col-sm-8 input-group-lg">
									<textarea type="text" name="description" class="form-control autosize" placeholder="Feed me an update..."></textarea>
								</div>
								<!-- /end description -->
	
								<div class="col-sm-4">
		
									<!-- surfice -->
									<div class="form-group">
										<select name="surfice" class="form-control">
											<option disabled selected>Surfice</option>
											{% for surfice in surfices %}
											<option value="{{ surfice.id }}">{{ surfice.name }}</option>
											{% endfor %}
										</select>
									</div>
									<!-- /end surfice -->
		
									<!-- status -->
									<div class="form-group">
										<select name="status" class="form-control">
											<option disabled selected>Status</option>
											{% for status in statuses %}
											<option value="{{ status.id }}">{{ status.name }}</option>
											{% endfor %}
										</select>
									</div>
									<!-- /end status -->
		
								</div>
							</div>
							
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<div class='input-group date datetimepicker'
											data-date-format="yyyy-mm-ddThh:ii:ss"
										>
											<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
											</span>
											<input type="datetime-local" name="timestamp" class="form-control" placeholder="(Optional) Timestamp" />
										</div>
									</div>
								</div>
							</div>
							
							<div class="clearfix">
								<p class="text-info">Note that this will NOT change the status at the time you chose.
								This will simply notify people of an upcoming event. You must manually
								change the status (preferably without creating an event) when the time comes.</p>
							</div>
							
						</form>
						<!-- /end add event form -->
						
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="submit" href="#" class="btn btn-primary">Add Event</button>												
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- end add event modal dialog -->
	
	
	
	<!-- start event table -->
	<table class="table table-striped" data-ajax-update="event-row">
		<thead>
			<!-- table headers -->
			<tr>
				<!-- timestamp header -->
				<th>
					{% if 'timestamp' in order_by %}
					<a href="{% url 'events' page=events.number order_by=order_by_reverse %}/">
					{% else %}
					<a href="{% url 'events' page=events.number order_by='-timestamp' %}/">
					{% endif %}
					Time <span class="glyphicon glyphicon-sort"></span></a>
				</th>
				
				<!-- surfice header -->
				<th aria-sort="ascending">
					{% if 'surfice' in order_by %}
					<a href="{% url 'events' page=events.number order_by=order_by_reverse %}/">
					{% else %}
					<a href="{% url 'events' page=events.number order_by='surfice' %}/">
					{% endif %}
					Surfice <span class="glyphicon glyphicon-sort"></span></a>
				</th>
				
				<!-- description header -->
				<th>
					{% if 'description' in order_by %}
					<a href="{% url 'events' page=events.number order_by=order_by_reverse %}/">
					{% else %}
					<a href="{% url 'events' page=events.number order_by='description' %}/">
					{% endif %}
					Description of Event <span class="glyphicon glyphicon-sort"></span></a>
				</th>
				
				<!-- status header -->
				<th>
					{% if 'status' in order_by %}
					<a href="{% url 'events' page=events.number order_by=order_by_reverse %}/">
					{% else %}
					<a href="{% url 'events' page=events.number order_by='status' %}/">
					{% endif %}
					Status <span class="glyphicon glyphicon-sort"></span></a>
				</th>
				
				<!-- no headers -->
				<th></th>
			</tr>
		</thead>
		{% for event in events %}
		<tr data-ajax-update="delete-event-{{ event.id }}" id="tr-event-{{ event.id }}">
			<!-- timestamp -->
			<td><a href="#" data-type="datetime" class="editable"
					data-pk="{{ event.id }}"
					data-name="timestamp"
					data-title="Enter a new timestamp for this event"
					data-format="mm/dd/yyyy hh:ii:ss"
					data-viewformat="M d, yyyy H:ii p"
					data-clear="false"
				>{{ event.timestamp|date:"M j, Y f a"|cut:"." }}</a></td>
			
			<!-- surfice -->
			<td>
				<a href="#" data-type="select" class="editable-surfice"
					data-pk="{{ event.id }}"
					data-name="surfice"
					data-title="Enter a new surfice"
				>{{ event.surfice.name }}</a>
			</td>
			
			<!-- description -->
			<td>
				<a href="#" class="editable"
					data-type="textarea"
					data-pk="{{ event.id }}"
					data-name="description"
				>{{ event.description }}</a>
			</td>
			
			<!-- status -->
			<td>
				<a href="#" class="editable-status"
					data-type="select"
					data-pk="{{ event.id }}"
					data-name="status"
					data-title="Enter a new status"
				>{{ event.status }}</a>
			</td>
			
			<!-- delete -->
			<td>
				<a class="btn btn-danger delete" href="#"
					data-toggle="modal"
					data-target="#confirm-delete-event"
					data-event-id="{{ event.id }}"
				><span class="glyphicon glyphicon-remove"></span></a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<!-- /end event table -->
	
	<!-- start pagination -->
	<ul class="pager">
		{% if events.has_next %}
			<li class="previous">
				{% if order_by == '' %}
				<a href="{% url 'events' page=events.next_page_number %}/"><span class="glyphicon glyphicon-chevron-left"> Older</span></a>
				{% else %}
				<a href="{% url 'events' page=events.next_page_number order_by=order_by %}/"><span class="glyphicon glyphicon-chevron-left"> Older</span></a>
				{% endif %}
			</li>
			
		{% endif %}
		
		{% if events.has_previous %}
		<li class="next link">
			{% if order_by == '' %}
			<a href="{% url 'events' page=events.previous_page_number %}/">Newer <span class="glyphicon glyphicon-chevron-right"></span></a>
			{% else %}
			<a href="{% url 'events' page=events.previous_page_number order_by=order_by %}/">Newer <span class="glyphicon glyphicon-chevron-right"></span></a>
			{% endif %}
		</li>
		{% endif %}
	</ul>
	<!-- /end pagination -->
</div>

<hr class="featurette-divider">

<!-- delete event modal -->
<div class="modal fade" id="confirm-delete-event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirm Delete</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to delete the event associated with <span data-event-surfice></span>?
			</div>
			<div class="modal-footer">
				<form action="ajax/delete-event" method="post" type="ajax"
					data-ajax-success="The event was deleted successfully."
					data-ajax-fail="There was an error trying to delete this event."
					data-ajax-action="ajax/get-event"
					data-ajax-get='{ "page": "{{ events.number }}", "last":"" }'
					data-ajax-update-target="event-row delete-event-"
				>
					{# To prevent cross-site forgery, include the following required tag #}
					{% csrf_token %}
					<input type="hidden" name="event" value="">
					<input type="hidden" name="delete" value="1">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" href="#" class="btn btn-danger danger" data-save="modal">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- /end delete event modal -->

{% endblock content %}

{% block scripts %}
<script src="{% static 'surfice/js/bootstrap-editable.min.js' %}"></script>
<script src="{% static 'surfice/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'surfice/js/moment.min.js' %}"></script>
<script>
$(function() {
	$.fn.editable.defaults.mode = 'popup';
	ss['editable'] = {
		default: {
			url: "ajax/update-event",
			params: {
				csrfmiddlewaretoken: "{{ csrf_token }}"
			}
		},
		surfice: {
			url: "ajax/update-event",
			params: {
				csrfmiddlewaretoken: "{{ csrf_token }}"
			},
			source: {
				{% for surfice in surfices %}
					"{{ surfice.id }}": "{{ surfice.name }}"
					{% if not forloop.last %} , {% endif %}
				{% endfor %}
			}
		},
		status: {
			url: "ajax/update-event",
			params: {
				csrfmiddlewaretoken: "{{ csrf_token }}"
			},
			source: {
				{% for status in statuses %}
					"{{ status.id }}": "{{ status.name }}"
					{% if not forloop.last %} , {% endif %}
				{% endfor %}
			 
			}
		}
	};
	
	$(".editable").editable(ss.editable.default);
	$(".editable-surfice").editable(ss.editable.surfice);
	$(".editable-status").editable(ss.editable.status);
	
	function isInputTypeSupported(typeName) {
		// Create element
		var input = document.createElement("input");
		// attempt to set the specified type
		input.setAttribute("type", typeName);
		// If the "type" property equals "text"
		// then that input type is not supported
		// by the browser
		var val = (input.type !== "text");
		// Delete "input" variable to
		// clear up its resources
		delete input;
		// Return the detected value
		return val;
	}

	if (!isInputTypeSupported("datetime-local")) {
		$(".datetimepicker").datetimepicker();
	}
});
</script>

{% endblock %}