{% extends "surfice/base.html" %}

{% load humanize %}
{% load static %}

{% block title %}Home{% endblock %}

{% block heading %}
<div class="heading text-center">
	<h1>What's the Status, Jack?</h1>
    <p class="text-center">Find up-to-date statuses of all of Asbury's services.<br>
    <span class="text-muted">Even submit feedback on the status of services.</span></p>
</div>
{% endblock %}

{% block content %}
<div class="container" id="status">
	<div class="row" id="row1">
		<div class="col-xs-12">
			<div class="surfices">
				
				<!-- start surfices -->
				{# Example of using the general data field #}
				{# If color is set in data, set the color #}
				{% for surfice in surfices %}
				<div class="surfice surfice-success dynamic-color" {% if surfice.status.data.color %}style="background-color:{{ surfice.status.data.color }}"{% endif %}>
					<h2 class="center-all featurette-heading-grid surfice-active">{{ surfice.name }}</h2><a class="btn btn-lg btn-info center-all-button featurette-heading-grid surfice-hover" role="button" data-toggle="modal" data-target="#ding-{{ surfice.id }}">Report an Issue</a>
				</div>
				{% endfor %}
				<!-- /end surfices -->
				
				
				<!-- ding modal dialog -->
				{% for surfice in surfices %}
				<div class="modal fade ding" id="ding-{{ surfice.id }}" tabindex="-1" role="dialog" aria-labelledby="Ding Label" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">What's up with {{ surfice.name }}?</h4>
							</div>
							<div class="modal-body">
						
								<form id="ding-form-{{ surfice.id }}" class="form-horizontal text-left" role="form" action="ajax/submit-ding" type="ajax" method="post"
									data-ajax-success="Issue submitted!"
									data-ajax-fail="Could not submit issue :("
								>
									{# To prevent cross-site forgery, include the following required tag #}
									{% csrf_token %}
									<input type="hidden" name="surfice" value="{{ surfice.id }}">
									<div class="form-group"> 
										<label class="col-sm-2 control-label">Email</label>
										<div class="col-sm-6">
											<input type="email" class="form-control" name="email" placeholder="Enter email" data-ajax-clear>
										</div>
									</div>
							
							
							
						  
									<div class="form-group">
										<label class="col-sm-2 control-label">Status</label>
										<div class="col-sm-10">
											<div class="input-group">
												<input type="text" name="description" class="form-control" placeholder="(Optional) Feed me more detail..." data-ajax-clear>
												<div class="input-group-btn dropdown-select">
													<input type="hidden" name="status" value="{{ statuses.0.id }}">
													<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span data-bind="label">{{ statuses.0.name }}</span> <span class="caret"></span></button>
													<ul class="dropdown-menu pull-right">
														{% for status in statuses %}
														<li value="{{ status.id }}"><a href="#">{{ status.name }}</a></li>
														{% endfor %}
												
													</ul>
												</div><!-- /.btn-group -->
											</div><!-- /.input-group -->
										</div><!-- /.col-sm-10 -->
									</div><!-- /.form-group -->
							
								</form>
						  
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Report Issue</button>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- /end ding modal dialog -->
				
			</div>
		</div>
	</div>
</div>


<!-- start information -->
<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-sm-8 col-sm-offset-2 col-xs-12 events">
		<h2 class="featurette-heading text-center">What's happening lately?</h2>
		
		{% for event in events %}
		<div class="row">
			<div class="col-xs-4">{{ event.timestamp|naturaltime }}{# event.timestamp|date:'M n' #}</div>
			<div class="col-xs-8">
			{% if event.description != "" %}
				{{ event.description }}
			{% else %}
				{# If the description is not set, output something generic #}
				{{ event.surfice.name|capfirst }}'s status was changed to {{ event.status }}.
			{% endif %}
			</div>
		</div>
		{% empty %}
		<div class="row">
			<div class="col-xs-12 text-center">Nothing has happened in the past week.</div>
		</div>
		{% endfor %}
		
	</div>
</div>

<hr class="featurette-divider">
<!-- /end information -->


<script>

// Dynamically filled onload

chartData = [];
chartData['all'] = {
	labels : ["1","2","3","4","5","6","7"],
	datasets : [
		{
			data : [65,59,90,81,56,55,40]
		},
		{
			data : [28,48,40,19,96,27,40]
		}
	]
};

chartData['webmail'] = {
	labels : ["January","February","March","April","May","June","July"],
	datasets : [
		{
			data : [62,59,40,81,56,85,40]
		},
		{
			data : [58,48,10,39,96,27,48]
		}
	]
};

chartData['online'] = {
	labels : ["January","February","March","April","May","June","July"],
	datasets : [
		{
			data : [62,59,40,81,56,85,40]
		},
		{
			data : [58,48,10,39,96,27,48]
		}
	]
};

// END AUTOFILL


</script>

<script src="{% static 'surfice/js/jquery.inview.min.js' %}"></script>
{% endblock %}