{% extends "surfice/base.html" %}

{% block title %}AU Status | Admin{% endblock %}

{% load static %}
{% load humanize %}
{% load slugify %}
{% load nav %}

{% block body_class %}admin{% endblock %}


{% block nav %}
	{% nav "admin" %}
	{% include "surfice/admin_nav.html" %}
{% endblock %}


{% block heading %}
<!-- super status bar -->
<form class="row jumbotron jumbotron-admin" type="ajax" action="ajax/set-status" method="post">
{# To prevent cross-site forgery, include the following required tag #}
{% csrf_token %}
	<div class="col-xs-12">
		
		<!-- description -->
		<div class="col-sm-8 input-group-lg">
			<textarea type="text" name="description" class="form-control autosize" placeholder="Feed me an update..." data-ajax-clear></textarea>
		</div>
		<!-- /end description -->
		
		<div class="col-sm-4">
			
			<!-- surfice -->
			<div class="form-group">
				<select name="surfice" class="form-control">
					<option disabled selected>Surfice</option>
					{% for surfice in surfices %}
					<option value="{{ surfice.id }}">{{ surfice.name }}</option>
					{% endfor %}
				</select>
			</div>
			<!-- /end surfice -->
			
			<!-- status -->
			<div class="form-group">
				<select name="status" class="form-control">
					<option disabled selected>Status</option>
					{% for status in statuses %}
					<option value="{{ status.id }}">{{ status.name }}</option>
					{% endfor %}
				</select>
			</div>
			<!-- /end status -->
			
		</div>
		
		<div class="col-xs-12">
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-block">Update!</button>
			</div>
		</div>
		
		
		
		<!-- Old one bar info enter
		<div class="input-group input-group-lg">
			<input type="text" name="description" class="form-control" placeholder="Feed me an update..."
				data-ajax-clear
			>
			<div class="input-group-btn dropdown-select">
				<input type="hidden" name="surfice">
				<button type="button" class="btn btn-straight btn-default dropdown-toggle form-control" data-toggle="dropdown" tabindex="-1"><span data-bind="label">Surfice</span>
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu">
					{% for surfice in surfices %}
						<li value="{{ surfice.id }}"><a href="#">{{ surfice.name }}</a></li>
					{% endfor %}
				</ul>


			</div>
			<div class="input-group-btn dropdown-select">
				<input type="hidden" name="status">
				<button type="button" class="btn btn-straight btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1"><span data-bind="label">Status</span>
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					{% for status in statuses %}
						<li value="{{ status.id }}"><a href="#">{{ status.name }}</a>
					{% endfor %}
				</ul>
			</div>
			<div class="input-group-btn">
				<button type="submit" class="btn btn-default btn-primary">Update!</button>
			</div>	
		</div>
		-->
	</div>
</form>
<!-- /end super status bar -->
{% endblock %}



{% block content %}
<hr class="featurette-divider">

<div class="row">
	<div class="col-sm-6">
		<h2 class="featurette-heading">Here are all your Surfs</h2> 
		<p>Update ALL the Surfices at once by updating a Surf! Just select a new status from each surf's dropdown menu. Here at Asbury ITS, we work with the utmost efficiency.</p>
	</div> 
	<!-- all surfs -->
	<div class="col-sm-6">
		<table class="table panel panel-default table-hover">
			<!-- all surfices -->
			<tr>
				<!-- name -->
				<td><a href="{% url 'surfs' %}#all"><em>(all)</em></a></td>
				
				<!-- change status -->
				<td>
					<form type="ajax" action="ajax/set-surf-status" method="post"
						data-ajax-action="ajax/get-surfices"
						data-ajax-update-target="surfices-status"
					>
						{# To prevent cross-site forgery, include the following required tag #}
						{% csrf_token %}
						<input type="hidden" name="surf">
						<input type="hidden" name="all">
						<div class="dropdown dropdown-select autosubmit pull-right">
							<input type="hidden" name="status">
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" tabindex="-1"><span data-bind="label">Change Status</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								{% for status in statuses %}
								<li value="{{ status.id }}"><a href="#">{{ status.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</form>
				</td>
			</tr>
			<!-- /end all surfices -->
			
			{% for surf in surfs %}
			<tr>
				<!-- name -->
				<td><a href="{% url 'surfs' %}#surf-{{ surf.name|slugify }}">{{ surf.name }}</a></td>
				
				<!-- change status -->
				<td>
					<form type="ajax" action="ajax/set-surf-status" method="post"
						data-ajax-action="ajax/get-surfices"
						data-ajax-get='{ "surf": "{{surf.id}}" }'
						data-ajax-update-target="surfices-status"
					>
						{# To prevent cross-site forgery, include the following required tag #}
						{% csrf_token %}
						<input type="hidden" name="surf" value="{{ surf.id }}">
						<div class="dropdown dropdown-select autosubmit pull-right">
							<input type="hidden" name="status">
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" tabindex="-1"><span data-bind="label">Change Status</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								{% for status in statuses %}
								<li value="{{ status.id }}"><a href="#">{{ status.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</form>
				</td>
				
			</tr>
			{% endfor %}
		</table>
	</div>
	<!-- /end all surfs -->
</div>
    
<hr class="featurette-divider">

<!-- surfices info -->
<div class="row">
	<div class="col-sm-6 events">
		<table class="table panel panel-default table-hover">
			{% for surfice in surfices %}
			<tr>
				<!-- surfice name -->
				<td><a href="{% url 'surfices' %}#surfice-{{ surfice.name|slugify }}">{{ surfice.name }}</a></td>
				
				<!-- surfice status -->
				<td>
					
					<form type="ajax" method="post" action="ajax/set-status">
						{# To prevent cross-site forgery, include the following required tag #}
						{% csrf_token %}
						<input type="hidden" name="surfice" value="{{ surfice.id }}">
						<div class="dropdown pull-right dropdown-select autosubmit">
							<input type="hidden" name="status" data-ajax-update="surfices-status" data-ajax-id="{{ surfice.id }}">
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" tabindex="-1">
								<span data-bind="label" data-ajax-update="surfices-status" data-ajax-id="{{ surfice.id }}">{{ surfice.status.name }}</span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								{% for status in statuses %}
								<li value="{{ status.id }}"><a href="#">{{ status.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
						
					</form>
					
				</td>
			</tr>
			{% endfor %}
			
			
		</table>
	</div>
	<div class="col-sm-6">
		<h2 class="featurette-heading" style="text-align:right">Surf through your Surfices</h2>
		<p style="text-align:right">
			{% with events|first as event %}
			The latest recorded update was to the <span data-ajax-update="event-surfice-name">{{ event.surfice.name }}</span> surfice with a status of <span data-ajax-update="event-status-name">{{ event.status.name }}</span>.  To make any changes, just select a new status from each surfice's dropdown menu.
			{% endwith %}
		</p>
	</div>  
</div>
<!-- /end surfices info -->
    
<hr class="featurette-divider">

<!-- recent events -->
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 events">
		<h2 class="featurette-heading text-center">What's happening lately?</h2>
		
		<!-- desktop -->
		<div class="hidden-xs">
			{# Future events for desktop #}
			{% for event in events_future %}
			<div class="row text-danger hidden-xs">
				<div class="col-xs-3"><strong>{{ event.timestamp|naturaltime }}{# event.timestamp|date:'M n' #}</strong></div>
				<div class="col-xs-5">
					<strong>
					{% if event.description != "" %}
						{{ event.description }}
					{% else %}
						{# If the description is not set, output something generic #}
						{{ event.surfice.name|capfirst }}'s status will change to {{ event.status }}.
					{% endif %}
					</strong>
				</div>
				<div class="col-xs-4 eventSurfice text-right"><div class="well well-sm pull-right" title="{{ event.status.name }}" style="background-color: {{ event.status.data.color }};"></div>{{ event.surfice.name }}</div>
			</div>
			{% endfor %}
			
			{# Past events for desktop #}
			{% for event in events_past %}
			<div class="row hidden-xs">
				<div class="col-xs-3">{{ event.timestamp|naturaltime }}{# event.timestamp|date:'M n' #}</div>
				<div class="col-xs-5">
				{% if event.description != "" %}
					{{ event.description }}
				{% else %}
					{# If the description is not set, output something generic #}
					{{ event.surfice.name|capfirst }}'s status was changed to {{ event.status }}.
				{% endif %}
				</div>
				<div class="col-xs-4 eventSurfice text-right"><div class="well well-sm pull-right" title="{{ event.status.name }}" style="background-color: {{ event.status.data.color }};"></div>{{ event.surfice.name }}</div>
			</div>
			{% endfor %}
		</div>
		
		<!-- mobile -->
		<div class="visible-xs-block">
			{# Future events for mobile #}
			{% for event in events_future %}
			<div class="row text-danger visible-xs-block">
				<div class="col-xs-12">
					<div class="well well-sm pull-left" title="{{ event.status.name }}" style="background-color: {{ event.status.data.color }};"></div>
					<div class="shortDescription"><em class="text-danger">{{ event.timestamp|naturaltime }}{# event.timestamp|date:'M n' #} - {{ event.surfice.name }}</em></div>
					<div class="description">
					{% if event.description != "" %}
						{{ event.description }}
					{% else %}
						{# If the description is not set, output something generic #}
						{{ event.surfice.name|capfirst }}'s status will change to {{ event.status }}.
					{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
			
			{# Past events for mobile #}
			{% for event in events_past %}
			<div class="row visible-xs-block">
				<div class="col-xs-12">
					<div class="well well-sm pull-left" title="{{ event.status.name }}" style="background-color: {{ event.status.data.color }};"></div>
					<div class="shortDescription"><em class="text-muted">{{ event.timestamp|naturaltime }}{# event.timestamp|date:'M n' #} - {{ event.surfice.name }}</em></div>
					<div class="description">
					{% if event.description != "" %}
						{{ event.description }}
					{% else %}
						{# If the description is not set, output something generic #}
						{{ event.surfice.name|capfirst }}'s status was changed to {{ event.status }}.
					{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		
		{% if events|length == 0 %}
		<div class="row">
			<div class="col-xs-12 text-center">Nothing has happened in the past week.</div>
		</div>
		{% endif %}
		
	</div>
</div>
<!-- /end recent events -->
		
<div class="row featurette bg">
	
</div>

<hr class="featurette-divider">

<!-- charts -->
<!--
<div class="row featurette">
	<h2 class="featurette-heading" style="margin-top:-30px; margin-bottom:15px;">Charts on Charts on Charts</h2>
	<div class="row">
		<div class="col-md-12 tabs-below">

			<div class="tab-content">
				<div class="tab-pane fade in active" id="all"><canvas class="chart" data-id="all" width="800" height="300"></canvas></div>
				<div class="tab-pane fade" id="webmail"><canvas class="chart" data-id="webmail" width="800" height="300"></canvas></div>
				<div class="tab-pane fade" id="online"><canvas class="chart" data-id="online" width="800" height="300"></canvas></div>
			</div>

			<ul class="nav nav-pills chart-nav">
				<li class="active"><a href="#all" data-toggle="pill">All</a></li>
				<li><a href="#webmail" data-toggle="pill">Webmail</a></li>
				<li><a href="#online" data-toggle="pill">Online</a></li>
			</ul>
		</div>
	</div>
</div>
-->
<!-- /end charts -->

<hr class="featurette-divider">

{% endblock content %}
