{% extends "surfice/base.html" %}

{% load static %}
{% load humanize %}
{% load slugify %}

{% block body_class %}admin{% endblock %}


{% block nav %}
	{% include "surfice/admin_nav.html" %}
{% endblock %}


{% block heading %}
<div class="container">
{# To prevent cross-site forgery, include the following required tag #}
{% csrf_token %}
      <div class="jumbotron jumbotron-admin">
        <h1>Update your Surfices</h1>
    <div class="container">
        <p>Surfice (n): the building block to the surfs that make up the ITS infrastructure</p>
    </div>
    </div>
</div>
{% end block %}
    

{% block content %}
<!--Start Accordian Container-->
<div class="container">
    <div class="col-xs-12">
        <div class="col-xs-offset-1 col-xs-10">
        <div class="row">
            <h3 class="h3-admin">Create a Surfice</h3>
        </div>
            <div class="row">
                    <div class="col-xs-6 ">
                        <form type="ajax" method="post" role="form" id="new-surfice">
							{# To prevent cross-site forgery, include the following required tag #}
                            {% csrf_token %}
                        <p>New Surfice Name</p>
                        <input type="text" class="form-control" id="sufice-name-new" placeholder="Surf Name">
                        <p style="padding-top:10px">Include in Surf</p>
                            <select class="form-control" id="surfice-surf-new">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            </select>
                    </div>
                    <div class="col-xs-6">
                        <p>New Surfice Description</p>
                        <textarea class="form-control" id="surfice-description-new" rows="3" placeholder="Update Description here.."></textarea>
                     </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-10 col-xs-1 button-accordian">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
                        </form>
         </div>
    </div>
</div>
      <div class="container">
            <div class="col-xs-12">
                <h2>Click on a Surfice to see Details</h2>
                <div class="col-xs-offset-1  col-xs-10">  
<!--Start Accordian-->   
                    <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
<!--Start Panel 1 of Accordian-->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">Webmail</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-xs-12">
<!--Row: Current Information on the Surf-->
                                        <div class="col-xs-4">
                                            <h4>Status</h4>
                                            <span class="glyphicon glyphicon-ok" ></span>
                                            </div>
                                        <div class="col-xs-4">
                                            <h4>Description</h4>
                                            <p>The current description of the surf goes here.</p>
                                        </div>
                                        <div class="col-xs-4">
                                                <h4>Current Surf</h4>
                                                <p>The current surf the surifce is part of</p>
                                        </div>
                                        </div>
                                    <div class="col-xs-12">
                                            <hr class="divider-accordian">
                                    </div>
                                    <div class="row">
                                    <form type="ajax" method="post" role="form" id="status-surfice">
										{# To prevent cross-site forgery, include the following required tag #}
										{% csrf_token %}
                                    <h3 class="h3-admin">Update Your Surfice Status</h3>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>Select Status</p>
                                        <select class="form-control" id="status-surfice-update">
                                            <option>Up</option>
                                            <option>Down</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                        <div class="col-xs-6">
                                            <p>Status Description</p>
                                            <textarea class="form-control" rows="3" id="status-surfice-description-update" placeholder="Add your status description..."></textarea>
                                        </div>
                                    <div class="row">
                                        <div class="col-xs-offset-10 col-xs-1">
                                            <button type="button" class="btn btn-success button-accordian">Submit</button>
                                        </div>
                                    </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <hr class="divider-accordian">
                                        </div>
                                    </div>
                                    <div class="row">
                                    <h3 class="h3-admin">Edit Your Surfice</h3>
                                        <form type="ajax" method="post" role="form" id="update-surfice">
										  {# To prevent cross-site forgery, include the following required tag #}
										{% csrf_token %}
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 ">
                                            <p>Update Surfice Name</p>
                                            <input type="text" class="form-control" id="update-surfice-name" placeholder="Surf Name">
                                            <p style="padding-top:10px">Update Surf</p>
                                            <select class="form-control" id="update-surfice-surf">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>Update Surfice Description</p>
                                            <textarea class="form-control" rows="3" placeholder="Update Description here.." id="update-surfice-description"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-offset-10 col-xs-1">
                                         <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <hr class="divider-accordian">
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-xs-12">
                                                <h3>Delete the Surfice</h3>
                                                <button type="button" class="btn btn-danger button-accordian">Delete</button>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
<!--Start Panel 1 of Accordian-->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">Discovery</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-xs-12">
<!--Row: Current Information on the Surf-->
                                        <div class="col-xs-4">
                                            <h4>Status</h4>
                                            <span class="glyphicon glyphicon-ok"></span>
                                            </div>
                                        <div class="col-xs-4">
                                            <h4>Description</h4>
                                            <p>The current description of the surf goes here.</p>
                                        </div>
                                        <div class="col-xs-4">
                                                <h4>Current Surf</h4>
                                                <p>The current surf the surifce is part of</p>
                                        </div>
                                        </div>
                                    <div class="col-xs-12">
                                            <hr class="divider-accordian">
                                    </div>
                                    <div class="row">
                                        <form type="ajax" method="post" role="form" id="status-surfice-update1">
  											{# To prevent cross-site forgery, include the following required tag #}
                            				{% csrf_token %}
                                    <h3 class="h3-admin">Update Your Surfice Status</h3>
                                    </div>
                                        <div class="col-xs-6">
                                    <p>Select Status</p>
                                    <select class="form-control" id="update-status-surfice1">
                                        <option>Up</option>
                                        <option>Down</option>
                                        <option>Other</option>
                                    </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>Status Description</p>
                                            <textarea class="form-control" rows="3" placeholder="Add your status description..." id="update-status-description1"></textarea>
                                        </div>
                                    <div class="row">
                                        <div class="col-xs-offset-10 col-xs-1">
                                            <button type="button" class="btn btn-success button-accordian">Submit</button>
                                        </div>
                                    </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <hr class="divider-accordian">
                                        </div>
                                    </div>
                                    <div class="row">
                                    <h3 class="h3-admin">Edit Your Surfice</h3>
                                    </div>
                                    <form type="ajax" method="post" role="form" id="update-surfice1">
										{# To prevent cross-site forgery, include the following required tag #}
										{% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-6 ">
                                            <p>Update Surfice Name</p>
                                            <input type="text" class="form-control" placeholder="Surf Name" id="update-surfice-name1">
                                             <p style="padding-top:10px">Update Surf</p>
                                            <select class="form-control" id="update-surfice-surf1">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <p>Update Surfice Description</p>
                                            <textarea class="form-control" rows="3" placeholder="Update Description here.." id="update-surfice-description1"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-offset-10 col-xs-1 button-accordian">
                                         <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                    </form>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <hr class="divider-accordian">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
      </div>
    </div>


      
                        
                        

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
{% endblock %}
