{% extends "surfice/base.html" %}

{% block title %}Admin | Status{% endblock %}

{% load static %}
{% load humanize %}
{% load slugify %}

{% block body_class %}admin{% endblock %}


{% block nav %}
	{% include "surfice/admin_nav.html" %}
{% endblock %}


{% block heading %}
<!-- JUMBOTRON HEADER
================================================== -->
<div class="container jumbotron jumbotron-admin">
	<h1>Update your Statuses</h1>

	<div class="container">
		<p>Status (n): the position of affairs at a particular time</p>
	</div>
</div>{% endblock heading %} {% block content %} <!-- Start Edit Accordian
==================================================
Each of the <row> act as a different function of the Edit process
-->
<div class="container">
	<!-- Create a Status Section, text details-->
	
	<div class="page-header">
		<h2>Click on a Status to see Details</h2>
	</div>
	<div class="col-sm-4">
		<div class="list-group select">
			<a href="#new" class="list-group-item list-group-item-success">Create New Status<span class="glyphicon glyphicon-plus pull-right"></span></a>
			{% for status in statuses %}
			<a href="#status-{{ status.name|slugify }}" class="list-group-item {% if forloop.first %}active{% endif %}">{{ status.name }}<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
			{% endfor %}
		</div>
	</div>
	<div class="col-sm-8">
		<div class="panel-group tab-content">
			<div class="tab-pane fade" id="new">
				<h3>Create a Status</h3>

				<form action="" method="post">
					{# To prevent cross-site forgery, include the following required tag #}
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>New Status Name</label>
								<input name="name" class="form-control" placeholder="Status Name" type="text">
							</div>
							
							<div class="form-group">
								<label>Assign Status Color</label>
								<div class="input-group">
									<span class="input-group-addon">#</span>
									<input data-name="color" class="form-control color" placeholder="Status Name" type="text">
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<label>New Status Description</label>
								<textarea name="description" class="form-control" placeholder="Add Status Description" rows="3"></textarea>
							</div>
						</div>
					</div>

					<div class="row">
						<button class="btn btn-success pull-right button-accordian" type="submit">Add</button>
					</div>
				</form>
			</div>
			
			{% for status in statuses %}
			<div class="tab-pane fade {% if forloop.first %}in active{% endif %}" id="status-{{ status.name|slugify }}">
				<h3>Edit Your Status</h3>
				<form type="ajax" action="ajax/update-status" method="post">
					{# To prevent cross-site forgery, include the following required tag #}
					{% csrf_token %}
					<input type="hidden" name="status" value="{{ status.id }}">
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label>Update Status Name</label>
								<input name="name" class="form-control" placeholder="Status Name" value="{{ status.name }}" type="text">
							</div>
							
							<div class="form-group">
								<label>Edit Status Color</label>
								<div class="input-group">
									<span class="input-group-addon">#</span>
									<input data-name="color" value="{{ status.data.color|slice:'1:' }}" class="form-control color" placeholder="Status Color" type="text">
								</div>
							</div>
						</div>

						<div class="col-xs-6">
							<div class="form-group">
								<label>Update Status Description</label>
								<textarea name="description" class="form-control" placeholder="Update Description here..." rows="3">{{ status.description }}</textarea>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12 text-right">
							{# If there is more than one status in the database #}
							{# Allow them to be deleted #}
							{% if statuses|length > 1 %}
							<button class="btn btn-danger button-accordian" type="button" data-toggle="modal" data-target="#confirm-delete-status-{{ status.id }}">Delete</button>
							{% endif %}
							<button class="btn btn-success button-accordian" type="submit">Save</button>
						</div>
					</div>
				</form>
			</div>
			
			{# If there is more than one status in the database #}
			{# Allow them to be deleted #}
			{% if statuses|length > 1 %}
			<div class="modal fade" id="confirm-delete-status-{{ status.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Confirm Delete</h4>
						</div>
						<form action="" method="post">
							{# To prevent cross-site forgery, include the following required tag #}
							{% csrf_token %}
							<input type="hidden" name="status" value="{{ status.id }}">
							<div class="modal-body">
								<p>
								Are you sure you want to delete the status, {{ status.name }}?
								All surfices assigned with this status will be re-assigned to the below status once this status is deleted.</p>
								<p>All events associated with this status will NOT be re-assigned. They will be deleted.</p>
								<div class="form-group">
									<label class="col-sm-4 control-label" for="new_status">Reassign Surfices to...</label>
									<div class="col-sm-6">
										<select name="new_status" class="form-control">
											<option disabled selected>Select a status...</option>
											{% for new_status in statuses %}
												{% if new_status != status %}
												<option value="{{ new_status.id }}">{{ new_status.name }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								{# To prevent cross-site forgery, include the following required tag #}
								{% csrf_token %}
								<input type="hidden" name="status" value="{{ status.id }}">
								<input type="hidden" name="delete" value="1">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button type="submit" href="#" class="btn btn-danger danger">Delete</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% endif %}
			
			
			{% endfor %}
			
		</div>
	</div>
</div>
<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->

{% endblock content %}

{% block scripts %}
<script src="{% static 'surfice/js/jscolor/jscolor.js' %}"></script>
<script>

</script>
{% endblock %}