{% extends "surfice/base.html" %}

{% block title %}Admin | Events{% endblock %}

{% load static %}
{% load humanize %}
{% load slugify %}

{% block css %}
<!-- x-editable (bootstrap version) -->
<link href="{% static 'surfice/css/bootstrap-editable.css' %}" rel="stylesheet">
<link href="{% static 'surfice/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css"></link> 
{% endblock %}

{% block body_class %}admin{% endblock %}


{% block nav %}
	{% include "surfice/admin_nav.html" %}
{% endblock %}


{% block heading %}
<!-- JUMBOTRON HEADER
================================================== -->
<div class="container">
	<div class="jumbotron jumbotron-admin">
		<h1>Update your Statuses</h1>

		<div class="container">
			<p>Status (n): the position of affairs at a particular time</p>
		</div>
	</div>
</div>
{% endblock heading %} {% block content %} <!-- Start Edit Accordian
==================================================
Each of the <row> act as a different function of the Edit process
-->
<div class="container">
	<!-- Create a Status Section, text details-->
	
	<div class="page-header">
		<h2>Click on an Event's details to edit</h2>
	</div>
	
	<table class="table table-striped" data-ajax-update="event-row">
		<thead>
			<tr>
				<th>Time</th>
				<th>Surfice</th>
				<th>Description of Event</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		{% for event in events %}
		<tr id="tr-event-{{ event.id }}">
			<td><a href="#" data-type="datetime" class="editable"
					data-pk="{{ event.id }}"
					data-name="timestamp"
					data-title="Enter a new timestamp for this event"
					data-format="mm/dd/yyyy hh:ii:ss"
					data-viewformat="M d, yyyy H:ii p"
					data-clear="false"
				>{{ event.timestamp|date:"M j, Y f a"|cut:"." }}</a></td>
			<td>
				<a href="#" data-type="select" class="editable-surfice"
					data-pk="{{ event.id }}"
					data-name="surfice"
					data-title="Enter a new surfice"
				>{{ event.surfice.name }}</a>
			</td>
			<td>
				<a href="#" class="editable"
					data-type="textarea"
					data-pk="{{ event.id }}"
					data-name="description"
				>{{ event.description }}</a>
			</td>
			<td>
				<a href="#" class="editable-status"
					data-type="select"
					data-pk="{{ event.id }}"
					data-name="status"
					data-title="Enter a new status"
				>{{ event.status }}</a>
			</td>
			<td>
				<a class="delete" href="#"
					data-toggle="modal"
					data-target="#confirm-delete-event"
					data-event-id="{{ event.id }}"
				><span class="glyphicon glyphicon-remove text-danger"></span></a>
			</td>
		</tr>
		{% endfor %}
	</table>
	
	<!-- BEGIN PAGINATION -->
	<ul class="pager">
		{% if events.has_next %}
		<li class="previous"><a href="{% url 'events' page=events.next_page_number %}/"><span class="glyphicon glyphicon-chevron-left"> Older</span></a></li>
		{% endif %}
		
		{% if events.has_previous %}
		<li class="next link"><a href="{% url 'events' page=events.previous_page_number %}/">Newer <span class="glyphicon glyphicon-chevron-right"></span></a></li>
		{% endif %}
	</ul>
	<!-- /END PAGINATION -->
</div>
<hr class="featurette-divider">
<!-- /END THE FEATURETTES -->

<div class="modal fade" id="confirm-delete-event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirm Delete</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to delete the event associated with <span data-event-surfice></span>?
			</div>
			<div class="modal-footer">
				<form action="ajax/delete-event" method="post" type="ajax"
					data-ajax-success="The event was deleted successfully."
					data-ajax-fail="There was an error trying to delete this event."
					data-ajax-action="ajax/get-event"
					data-ajax-get='{ "page": "{{ events.number }}", "last":"" }'
					data-ajax-update-target="event-row"
				>
					{# To prevent cross-site forgery, include the following required tag #}
					{% csrf_token %}
					<input type="hidden" name="event" value="">
					<input type="hidden" name="delete" value="1">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" href="#" class="btn btn-danger danger" data-save="modal">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'surfice/js/bootstrap-editable.min.js' %}"></script>
<script src="{% static 'surfice/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'surfice/js/moment.min.js' %}"></script>
<script>
$(function() {
	$.fn.editable.defaults.mode = 'popup';
	ss['editable'] = {
		default: {
			url: "ajax/update-event",
			params: {
				csrfmiddlewaretoken: "{{ csrf_token }}"
			}
		},
		surfice: {
			url: "ajax/update-event",
			params: {
				csrfmiddlewaretoken: "{{ csrf_token }}"
			},
			source: {
				{% for surfice in surfices %}
					"{{ surfice.id }}": "{{ surfice.name }}"
					{% if not forloop.last %} , {% endif %}
				{% endfor %}
			}
		},
		status: {
			url: "ajax/update-event",
			params: {
				csrfmiddlewaretoken: "{{ csrf_token }}"
			},
			source: {
				{% for status in statuses %}
					"{{ status.id }}": "{{ status.name }}"
					{% if not forloop.last %} , {% endif %}
				{% endfor %}
			 
			}
		}
	};
	
	$(".editable").editable(ss.editable.default);
	$(".editable-surfice").editable(ss.editable.surfice);
	$(".editable-status").editable(ss.editable.status);
});
</script>

{% endblock %}