<!DOCTYPE html>
<html lang="en">
  <head>
  	
  	{% load static %}
  	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Status of Asbury University's online services.">
    <meta name="author" content="Asbury University">
    <link rel="shortcut icon" href="{% static 'surfice/images/favicon.ico' %}" type="image/x-icon">

    <title>{% block title %}REPLACE TITLE WITH CODE{% endblock %}</title>
    
    
    <!-- Bootstrap core CSS -->
    <link href="{% static 'surfice/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'surfice/css/jasny-bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'surfice/css/bootstrap-notify.css' %}" rel="stylesheet">
    <link href="{% static 'surfice/css/bootstrap-multiselect.css' %}" rel="stylesheet">
    <link href="{% static 'surfice/css/alert-notification-animations.css' %}" rel="stylesheet">
   

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'surfice/css/carousel.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
  </head>
<!-- NAVBAR
================================================== -->
<body class="{% block body_class %}{% endblock %} preload">
	<a name="top"></a>
	
	{% block nav %}
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
    	<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="#" onclick="return false;">Asbury University Status</a>
        	</div>
        	
        	
        	<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				{% if user.is_authenticated %}
				<li class="text-primary"><a class="text-primary" href="{% url 'admin' %}"><span class="text-success">Admin</span></a></li>
				{% endif %}
				
				<li><a href="http://www.asbury.edu">asbury.edu</a></li>
				<li><a href="http://webmail.asbury.edu">Webmail</a></li>
				<li><a href="http://online.asbury.edu">Online</a></li>
				<li><a href="http://discovery.asbury.edu">Discovery</a></li>
				<li><a href="http://password.asbury.edu">Password</a></li>
				<li><a href="http://print.asbury.edu">Print Balance</a></li>
			</ul>
			<form action="http://www.asbury.edu/search/node" method="post" class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" name="search_theme_form" class="form-control" placeholder="Search asbury.edu">
				</div>
				
				<input type="hidden" name="form_build_id" id="form-TbyJI2F8rLghHWGsU9mhEMan7Om4lo7Ws9E9CKRjCi4" value="form-TbyJI2F8rLghHWGsU9mhEMan7Om4lo7Ws9E9CKRjCi4">
				<input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form">
				<input type="hidden" name="default_text" id="edit-default-text" value="Search Asbury.edu" class="default-text">
			</form>
			<!--
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
				  	<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
				  	</ul>
				</li>
			</ul>
			-->
		</div><!-- /.navbar-collapse -->
    </nav>
    <!-- ./navbar -->
    {% endblock %}

   
<div class="container">
    {% block heading %}
    <div class="heading text-center">
    	<h1>You might want to put a header here.</h1>
    </div>
    {% endblock %}
	
	{% block content %}
	<div class="row featurette">
        <div class="col-xs-12 events">
            <h2 class="featurette-heading text-center">Seems like you need some content!</h2>
            <p>Oops</p>
        </div>
	{% endblock %}
    
	{% block footer %}
	<!-- FOOTER -->
	<footer>
		<p class="pull-right"><a href="#top">Back to top</a></p>
		<p>&copy; {% now "Y" %} Asbury University
		{% if user.is_authenticated %} &middot; <a href="{% url 'logout' %}">Log out</a> {% endif %}</p>
	</footer>
	{% endblock %}

    </div><!-- /.container -->
	<div class='notifications top-center'></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'surfice/js/jquery-1.11.1.min.js' %}"></script>
	
    <script src="{% static 'surfice/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'surfice/js/jasny-bootstrap.min.js' %}"></script>
    
    <script src="{% static 'surfice/js/bootstrap-switch.min.js' %}"></script>
    <script src="{% static 'surfice/js/bootstrap-notify.js' %}"></script>
    <script src="{% static 'surfice/js/bootstrap-multiselect.js' %}"></script>
    <script src="{% static 'surfice/js/jquery.autosize.min.js' %}"></script>
    <script src="{% static 'surfice/js/Chart.min.js' %}"></script>
    
    <script src="{% static 'surfice/js/utils.js' %}"></script>
    <script src="{% static 'surfice/js/models.js' %}"></script>
    <script src="{% static 'surfice/js/effects.js' %}"></script>
    <script src="{% static 'surfice/js/refresh.js' %}"></script>
    <script src="{% static 'surfice/js/io.js' %}"></script>
    <script src="{% static 'surfice/js/validate.js' %}"></script>
    
    {% block scripts %}{% endblock %}
  </body>
</html>
